@use "../variables/colors" as c;

@mixin bottom-bar($bottom: -10px, $width: 50%){   
   @media screen and (min-width: 768px){
      &__item{
         position: relative;

         &::after{
            content: "";
            position: absolute;
            bottom: $bottom;
            width: $width;
            height: 2px;
            left: 50%;
            background-color: c.$white;
            transform: scaleX(0) translateX(-50%);
            transition: transform .2s;
         }
         
         &:hover::after{
            transform: scaleX(1) translateX(-50%);
         }
      }
   }
}