doctype html
html(lang="en")
   head
      meta(charset="UTF-8")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      title Loopstudios landing page
      //- Favicons
      link(rel="apple-touch-icon", sizes="57x57", href="assets/favicons/apple-icon-57x57.png")
      link(rel="apple-touch-icon", sizes="60x60", href="assets/favicons/apple-icon-60x60.png")
      link(rel="apple-touch-icon", sizes="72x72", href="assets/favicons/apple-icon-72x72.png")
      link(rel="apple-touch-icon", sizes="76x76", href="assets/favicons/apple-icon-76x76.png")
      link(rel="apple-touch-icon", sizes="114x114", href="assets/favicons/apple-icon-114x114.png")
      link(rel="apple-touch-icon", sizes="120x120", href="assets/favicons/apple-icon-120x120.png")
      link(rel="apple-touch-icon", sizes="144x144", href="assets/favicons/apple-icon-144x144.png")
      link(rel="apple-touch-icon", sizes="152x152", href="assets/favicons/apple-icon-152x152.png")
      link(rel="apple-touch-icon", sizes="180x180", href="assets/favicons/apple-icon-180x180.png")
      link(rel="icon" type="image/png", sizes="192x192",  href="assets/favicons/android-icon-192x192.png")
      link(rel="icon" type="image/png", sizes="32x32", href="assets/favicons/favicon-32x32.png")
      link(rel="icon" type="image/png", sizes="96x96", href="assets/favicons/favicon-96x96.png")
      link(rel="icon" type="image/png", sizes="16x16", href="assets/favicons/favicon-16x16.png")
      link(rel="manifest" href="assets/favicons/manifest.json")
      meta(name="msapplication-TileColor", content="#ffffff")
      meta(name="msapplication-TileImage", content="/ms-icon-144x144.png")
      meta(name="theme-color", content="#ffffff")
      //- CSS
      link(rel="stylesheet", href="css/styles.css")
      //- Fontawesome
      link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu", crossorigin="anonymous")
   body
      header.main-header 
         .top-bar
            img.top-bar__logo(src="assets/img/logo.svg", alt="loopstudios logo")
            nav.menu#menu 
               ul.menu__list 
                  li.menu__item 
                     a.menu__link About
                  li.menu__item 
                     a.menu__link Careers
                  li.menu__item 
                     a.menu__link Events
                  li.menu__item 
                     a.menu__link Products
                  li.menu__item 
                     a.menu__link Support
         h1.main-header__title Immersive experiences that deliver
      main.main 
         article.info 
            .info__illustration
            .info__card
               h2.info__title The leader in interactive VR
               p.info__text Founded in 2011, Loopstudios has been producing world-class virtual reality projects for some of the best companies around the globe. Our award-winning creations have transformed businesses through digital experiences that bind to their brand.
         article.gallery
            h2.galley__title Our creations
            .gallery__images
               article.card 
                  h3.card__title Deep earth
                  picture
                     source(srcset="assets/img/desktop/image-deep-earth.jpg", media="(min-width: 768px)")
                     img.card__image(src="assets/img/mobile/image-deep-earth.jpg", alt="deep earth")
               article.card 
                  h3.card__title Night arcade
                  picture
                     source(srcset="assets/img/desktop/image-night-arcade.jpg", media="(min-width: 768px)")
                     img.card__image(src="assets/img/mobile/image-night-arcade.jpg", alt="night arcade")
               article.card 
                  h3.card__title Soccer team VR
                  picture
                     source(srcset="assets/img/desktop/image-soccer-team.jpg", media="(min-width: 768px)")
                     img.card__image(src="assets/img/mobile/image-soccer-team.jpg", alt="night arcade")
               article.card 
                  h3.card__title The grid
                  picture
                     source(srcset="assets/img/desktop/image-grid.jpg", media="(min-width: 768px)")
                     img.card__image(src="assets/img/mobile/image-grid.jpg", alt="night arcade")
               article.card 
                  h3.card__title From up above VR
                  picture
                     source(srcset="assets/img/desktop/image-from-above.jpg", media="(min-width: 768px)")
                     img.card__image(src="assets/img/mobile/image-from-above.jpg", alt="night arcade")
               article.card 
                  h3.card__title Pocket borealis
                  picture
                     source(srcset="assets/img/desktop/image-pocket-borealis.jpg", media="(min-width: 768px)")
                     img.card__image(src="assets/img/mobile/image-pocket-borealis.jpg", alt="night arcade")
               article.card 
                  h3.card__title The curiosity
                  picture
                     source(srcset="assets/img/desktop/image-curiosity.jpg", media="(min-width: 768px)")
                     img.card__image(src="assets/img/mobile/image-curiosity.jpg", alt="night arcade")
               article.card 
                  h3.card__title Make it fisheye
                  picture
                     source(srcset="assets/img/desktop/image-fisheye.jpg", media="(min-width: 768px)")
                     img.card__image(src="assets/img/mobile/image-fisheye.jpg", alt="night arcade")
      footer.footer 
         img.footer__logo(src="assets/img/logo.svg", alt="loopstudios logo")
         nav.footer-menu 
               ul.footer-menu__list 
                  li.footer-menu__item 
                     a.footer-menu__link About
                  li.footer-menu__item 
                     a.footer-menu__link Careers
                  li.footer-menu__item 
                     a.footer-menu__link Events
                  li.footer-menu__item 
                     a.footer-menu__link Products
                  li.footer-menu__item 
                     a.footer-menu__link Support
         ul.footer-social
            li.footer-social__item
               a.footer-social__link
                i.footer-social__icon.fab.fa-facebook
                span.footer-social__name Go to Loopstudios's facebook
            li.footer-social__item
               a.footer-social__link
                i.footer-social__icon.fab.fa-twitter
                span.footer-social__name Go to Loopstudios's twitter
            li.footer-social__item
               a.footer-social__link
                i.footer-social__icon.fab.fa-pinterest
                span.footer-social__name Go to Loopstudios's pinterest
            li.footer-social__item
               a.footer-social__link
                i.footer-social__icon.fab.fa-instagram
                span.footer-social__name Go to Loopstudios's instagram
         p.footer__text © 2021 Loopstudios. All rights reserved.

                  
